.page-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    

  }

.about-me {
    display: flex;
    justify-content: center;
    

  
}

.about-me-text{
    font-family: 'Lato';
}

.about-me-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40vw;
    margin-right: 60px;
}

.about-me-title{
    font-family: 'Lato';
    font-size: 50px;
}

.about-me-img{
    margin-left: 30px;
    max-width: 30%;
    object-fit: cover;
}

.carousel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
 .carousel-button::before {
    content: '';
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    margin-right: 4px;
  }
  
  .carousel-button:hover {
    background-color: #f0f0f0;
  }
  .carousel-button-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .carousel-button-left::before {
    content: '';
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(-135deg);
    margin-left: 4px;
  }
  
  .carousel-button-left2:hover {
    background-color: #f0f0f0;
  }

@media only screen and (max-width: 600px) {

    .page-about{
      max-height: 200vh;
    }

    .about-me-desc {
        max-width: 100vw;
        margin-right: 0px;
        display: flex;
        justify-content: center;
    }

    .about-me-title {
        font-size: 35px;
        text-align: center;
    }

    .about-me {
        flex-direction: column-reverse;
        height: 100vh;
        max-width: 80vw;
    }
    .about-me-text{
        font-size: 15px;
        
    }
    .about-me-img{
        max-width: 70%;
    }



  }