nav {
  background-color: #fff; 
  padding: 10px 20px; 
  border-bottom: 1px solid #ddd; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  justify-content: space-between; 
  font-family: 'sans pro light' ;
  font-weight: bold;
}

li.left {
  margin-right: auto; 
}

li {
  margin-left: 10px; 
}

a {
  color: #1a1a1a; 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}
