.project-content {
    display: flex;
    position: relative;
    margin: 20px;
  }
  
  .project-content img {
    max-width: 35%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .project-description {
    margin-left: 20px;
  }
  
  .project-description h1 {
    font-size: 30px;
   
  }
  
  .project-content p {
    color: #5a5959;
  }
  .modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    margin-top: -40px;
  }
  
  .expanded-image {
    max-width: 100%;
    max-height: 80vh;
  }
  
  .type-box {
    display: flex;
    justify-content: center;
  }
  
  .type{
    margin-top: 30px;
    margin-left: 30px;
    width: 90vh;
    position: relative;
    transition: transform 0.3s;
  }

  .type:hover{
    transform: scale(1.1); 
    cursor: pointer; 
  }

  .type h1 {
    font-family: 'nova';
    position: absolute; 
    bottom: 15px; 
    left: 5px; 
    width: 100%; 
    margin: 0; 
    padding: 10px; 
    color: #ffffff; 
  }

  .type img {
    max-width: 100%;
  }