.projet-type{
  text-align: center;
  font-size: 50px;
  font-family: 'Raleway light';
}
.custom-link {
  max-width: 35%;
  margin-bottom: 10px;
  cursor: pointer;

}
.project-image-custom-link{
  max-width: 100%;
  
}

.project-content {
    display: flex;
    position: relative;
    margin: 20px;
  }

.project-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333333; 
  }
  
  .project-image {
    max-width: 35%;
    margin-bottom: 10px;
    cursor: pointer;

  }
  
  .project-description {
    margin-left: 20px;
    max-width: 50vw;
  }
  
  .project-description h1 {
    font-size: 30px;
   
  }

  .project-description-desc {
    font-family: 'nova';
    font-size: 20px;
  }
  
  .project-content p {
    color: #5a5959;
  }

  .modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    margin-top: -40px;
  }
  
  .expanded-image {
    max-width: 100%;
    max-height: 90vh;
  }
  
  .type-box {
    display: flex;
    justify-content: center;
    max-width: 100vw;
  }

  .type-big-flex{
    display: flex;
    max-width: 100vw;
    max-height: 30vh;
    justify-content: center;
   
  }

  .type-big{
    margin-top: 30px;
    width: 80%;
    position: relative;
    transition: transform 0.3s;
  }

  .type-big:hover{
    transform: scale(1.1); 
    cursor: pointer; 
  }

  .type-big-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .type{
    margin-top: 30px;
    margin-left: 30px;
    width: 90vh;
    position: relative;
    transition: transform 0.3s;
  }

  .type:hover{
    transform: scale(1.1); 
    cursor: pointer; 
  }

  .type-title {
    font-family: 'nova';
    position: absolute; 
    bottom: 40px; 
    left: 25px; 
    width: 100%; 
    margin: 0; 
    padding: 10px; 
    color: #ffffff; 
  }
  .type-title-big {
    font-family: 'nova';
    position: absolute; 
    bottom: 10px; 
    left: 5px; 
    width: 100%; 
    margin: 0; 
    padding: 10px; 
    color: #ffffff; 
  }

  .type-img {
    max-width: 100%;
  }

  .back-button {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding-left: 8px;
    padding-bottom: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.377);
    color: #000000;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  
  .back-button:hover {
    cursor: pointer;
    color: white;
    background-color: #706f6f;
    border: solid 1px rgb(255, 255, 255);
  }
  
  .back-button::before {
    content: "\2190";
    margin-right: 5px;
  }
  

  @media only screen and (max-width: 600px) {

    .type {
      margin-top: 10px;
      margin-left: 10px;
      max-width: 40vw;
    }

    .type h1 {
      font-size: 13px;
    }

    .type-title {
      bottom: 10px; 
      left: 5px; 
    }

    .project-image {
      max-width: 55%;
    }
    .custom-link {
      max-width: 55%;
    }

    .project-description h1 {
      font-size: 15px;
    }
    .project-description-desc {
      font-size: 12px;
    }
    .project-description p {
      font-size: 10px;
    }

}

 