.big-project {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.big-image {
    max-width: 80vw;
    border: 2px solid #a19f9f;
    border-radius: 8px;
    cursor: pointer;
}

.big-project h1{
    font-family: 'mont';

    color: #000000;
}

.big-project p {
    font-family: 'libre';
    margin-left: 50px;
    margin-right: 50px;
}

.page-big {
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    .big-project h1{
        font-size: 20px;
    }

    .big-project p {
        font-size: 10px;
    }

}