.big-project {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.big-image {
    max-width: 80vw;
    border: 2px solid #a19f9f;
    border-radius: 8px;
    cursor: pointer;
}

.big-project h1{
    font-family: 'mont';

    color: #000000;
}

.big-project p {
    font-family: 'libre';
    margin-left: 50px;
    margin-right: 50px;
}

.page-big {
    display: flex;
    align-items: center;
}

.back-button {
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding-left: 8px;
    padding-bottom: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.377);
    color: #000000;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
  }
  
  .back-button:hover {
    cursor: pointer;
    color: white;
    background-color: #706f6f;
    border: solid 1px rgb(255, 255, 255);
  }
  
  .back-button::before {
    content: "\2190";
    margin-right: 5px;
  }
@media only screen and (max-width: 600px) {
    .big-project h1{
        font-size: 20px;
    }

    .big-project p {
        font-size: 10px;
    }

}