

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../assets/images/fundo.jpg');
    background-size: cover; 
  }
  .content {
    text-align: center;
    max-width: 55vw;
    margin: 0 auto; 
    margin-bottom: 20vh;
    
  }

  .content h1 {
    font-family: 'Raleway';
    font-size: 5vw;
    margin-bottom: 15px;
  }
  
  .content p {
    font-family: 'Lato';
  }
  .content .animated-button {
    background-color: transparent; 
    color: #fff; 
    border: 2px solid #fff; 
    padding: 10px 20px;
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s;
  }
  
  .content .animated-button:hover {
    background-color: #fff; 
    color: #000; 
    font-style: none;
  }
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .animated-button {
    position: relative;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {

    
    .content {
      max-width: 90vw;
      margin-bottom: 55vh;
    }
  }
  