.page{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 110vh;
    position: relative;
    background-color: #5e5e5e;
    
}


.description {
    flex: 1;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vw;
    font-size: large;
    max-width: 55vw;
    font-family: 'libre';
    transition: transform 0.3s ease-in-out;
    position: relative;

    
}
.description h1 {
   text-align: center;
   font-family: 'Raleway light';

    
}



.button-container{
    align-self: center;
}


.button-veja-mais {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-veja-mais:hover {
  background-color: #f1f1f1;
  color: black;
}


  
.image {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
.image img {
    max-width: 100%;
    border: 1px solid #ccc; 
  }



.carousel-button-page2 {
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #5e5e5e;
    border: 1px solid white;
    border-radius: 50%;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
 .carousel-button-page2::before {
    content: '';
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    margin-right: 4px;
  }
  
  .carousel-button-page2:hover {
    color: black;
    background-color: #f0f0f0;
  }
  .carousel-button-left-page2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #5e5e5e;
    border: 1px solid white;
    border-radius: 50%;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .carousel-button-left-page2::before {
    content: '';
    border-style: solid;
    border-width: 2px 2px 0 0;
    display: inline-block;
    height: 8px;
    width: 8px;
    transform: rotate(-135deg);
    margin-left: 4px;
  }
  
  .carousel-button-left-page2:hover {
    background-color: #f0f0f0;
    color: black;
  }
  
  @media only screen and (max-width: 800px) {

    .page{
      min-width: 100vw;
    }
   
    .description {
      flex: 1;

      margin-bottom: 0px;
      max-width: 100%;
      font-family: 'libre';
      transition: transform 0.3s ease-in-out;
      position: relative;
      

  }

  .button-container{
    height: 70px;
  }

  .description h1 {
      max-width: 80%;
      text-align: center;
      align-self: center;
      font-size: 18px;
  }
  .description p {
    align-self: center;
    text-align: center;
    max-width: 90%;
    font-size: 10px;
  }

   .image {
    flex: 1;
    display: flex;
    transition: transform 0.3s ease-in-out;
    position: relative;
  }
  
  .image img {
    max-width: 90%;
    max-height: 100%;
    border: 1px solid #ccc; /* Optional: Add a border */
  }

  .button-veja-mais {
    font-size: 10px;
  }
  

  .carousel-button-page2 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 22px;
    right: 10px;
    
  }

  .carousel-button-page2::before {
    width: 5px;
    height: 5px;
  }
  .carousel-button-left-page2 {
      position: absolute;

      z-index: 1;
      width: 25px;
      height: 25px;
      top: 22px;
      left: 10px;
  }

  .carousel-button-left-page2::before  {
    width: 5px;
    height: 5px;

  }
}